body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.logo {
  filter: brightness(100%);
  filter: saturate(0%);
  margin-left: 24px;
}

  .container {
    color: #fff;
    background: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    overflow: auto;
    margin: 8px;
  }
  
  .player {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    margin-top: 64px;
  }
  
  #nowPlaying {
    margin: 15px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .controls {
    margin: 10px 0;
  }
  
  .controls button {
    padding: 8px 12px;
    font-size: 1rem;
    margin: 0 5px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .progress-container {
    margin: 10px 0;
  }
  
  #progressBar {
    width: 80%;
  }
  
  .volume-control {
    margin: 10px 0;
  }
  
  .volume-control input {
    width: 150px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    margin: 10px 0;
    background: #222;
    padding: 10px;
    border-radius: 8px;
  }
  
  .crossfade-input {
    margin: 10px 0;
  }
  
  .crossfade-input input {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 64px;
  }
  